Repository triton-inference-server/server, pull requests merged in 2024-11, with the labels that each got.

#7759 build: Install tritonfrontend and tritonserver wheels by default in published containers
  Dockerfile.QA
  build.py
Labels: PR: build

#7752 test: Test model_metrics config and document histogram buckets override
  docs/user_guide/metrics.md
  qa/L0_metrics/histogram_metrics_test.py
  qa/L0_metrics/metrics_config_test.py
  qa/L0_metrics/test.sh
  qa/L0_model_config/model_metrics/invalid_config/empty_buckets/expected
  qa/L0_model_config/model_metrics/invalid_config/empty_buckets/partial.pbtxt
  qa/L0_model_config/model_metrics/invalid_config/empty_metric_family/expected
  qa/L0_model_config/model_metrics/invalid_config/empty_metric_family/partial.pbtxt
  qa/L0_model_config/model_metrics/invalid_config/no_buckets/expected
  qa/L0_model_config/model_metrics/invalid_config/no_buckets/partial.pbtxt
  qa/L0_model_config/model_metrics/invalid_config/no_histogram_options/expected
  qa/L0_model_config/model_metrics/invalid_config/no_histogram_options/partial.pbtxt
  qa/L0_model_config/model_metrics/invalid_config/no_metric_family/expected
  qa/L0_model_config/model_metrics/invalid_config/no_metric_family/partial.pbtxt
  qa/L0_model_config/model_metrics/invalid_config/no_metric_identifier/expected
  qa/L0_model_config/model_metrics/invalid_config/no_metric_identifier/partial.pbtxt
  qa/L0_model_config/model_metrics/valid_config/valid_model_metrics/partial.pbtxt
  qa/L0_model_config/model_metrics/valid_config_with_warn/unknown_metric_family/expected
  qa/L0_model_config/model_metrics/valid_config_with_warn/unknown_metric_family/partial.pbtxt
  qa/L0_model_config/test.sh
Labels: PR: docs, PR: test

#7768 fix: Fixing pip installation as a system package
  build.py
Labels: PR: build, PR: fix

#7769 fix: Adding copyright support for `.pyi` files
  src/python/tritonfrontend/_api/_metrics.pyi
  tools/add_copyright.py
Labels: PR: ci

#7770 fix: Skip copyrights check for "expected" files in L0_model_config
  qa/common/check_copyright.py
Labels: PR: fix

#7779 test: OpenAI frontend invalid chat tokenizer network issue WAR
  pyproject.toml
  python/openai/tests/test_chat_completions.py
Labels: PR: test

#7788 test: RHEL Filesystem Tests
  qa/L0_storage_S3/test.sh
  qa/L0_storage_azure/test.sh
Labels: PR: test

#7789 test: Fix L0_backend_python for Ubuntu 24.04 base
  qa/L0_backend_python/bls/test.sh
  qa/L0_backend_python/common.sh
  qa/L0_backend_python/decoupled/test.sh
  qa/L0_backend_python/env/test.sh
  qa/L0_backend_python/io/test.sh
  qa/L0_backend_python/setup_python_enviroment.sh
  qa/L0_backend_python/test.sh
Labels: PR: test

#7791 test: Fix tests for ubuntu 24.04. upgrade
  qa/L0_dlpack_multi_gpu/test.sh
  qa/L0_infer/test.sh
  qa/L0_io/test.sh
  qa/L0_libtorch_instance_group_kind_model/test.sh
  qa/L0_trace/opentelemetry_unittest.py
  qa/L0_warmup/test.sh
Labels: PR: test

#7802 fix: Fix L0_onnx_execution_provider
  build.py
Labels: PR: fix

#7800 fix: Fix L0_input_validation
  qa/L0_input_validation/input_validation_test.py
Labels: PR: ci

#7812 build: Support RHEL ORT TensorRT Execution Provider
  build.py
Labels: PR: build

#7787 fix: Resolve integer overflow in Load API file decoding
  qa/L0_cuda_shared_memory/cuda_shared_memory_test.py
  qa/L0_cuda_shared_memory/test.sh
  qa/L0_http/http_test.py
  qa/L0_http/test.sh
  src/common.cc
  src/common.h
  src/http_server.cc
Labels: PR: fix

#7743 feat: Enable deferred unregistering of shared memory regions after inference
  qa/L0_cuda_shared_memory/cuda_shared_memory_test.py
  qa/L0_cuda_shared_memory/test.sh
  qa/L0_shared_memory/shared_memory_test.py
  qa/L0_shared_memory/test.sh
  src/grpc/infer_handler.cc
  src/grpc/infer_handler.h
  src/grpc/stream_infer_handler.cc
  src/http_server.cc
  src/http_server.h
  src/sagemaker_server.h
  src/shared_memory_manager.cc
  src/shared_memory_manager.h
Labels: PR: feat

#7832 ci: Fix L0_cuda_shared_memory
  qa/L0_cuda_shared_memory/cuda_shared_memory_test.py
Labels: PR: ci

#7811 build: Update OpenVINO model generation version
  qa/common/gen_qa_dyna_sequence_models.py
  qa/common/gen_qa_identity_models.py
  qa/common/gen_qa_model_repository
  qa/common/gen_qa_models.py
  qa/common/gen_qa_reshape_models.py
  qa/common/gen_qa_sequence_models.py
Labels: PR: build
