Repository triton-inference-server/server, pull requests merged in 2024-06, with the labels that each got.

#7309 build: Update vllm version to v0.4.3 (latest)
  build.py
Labels: module: backends, PR: build

#7304 fix: Fix L0_input_validation--base
  qa/L0_input_validation/test.sh
Labels: PR: fix

#7323 fix: Remove onnxruntime libraries from system path
  build.py
Labels: module: backends, PR: fix

#7325 fix: Handling grpc cancellation edge-case:: Cancelling at step START
  qa/L0_request_cancellation/grpc_cancellation_test.py
  qa/L0_request_cancellation/test.sh
  src/grpc/infer_handler.cc
  src/grpc/infer_handler.h
Labels: module: server, PR: fix

#7328 test: Add testing for CUDA EP options
  qa/L0_onnx_optimization/test.sh
Labels: module: backends, PR: test

#7326 test: Update error messages to comply with core change
  qa/L0_http/test.sh
  qa/L0_infer/test.sh
  qa/L0_input_validation/input_validation_test.py
Labels: PR: test

#7327 ci: Restrict numpy to version 1.x
  Dockerfile.QA
  Dockerfile.sdk
  build.py
  docs/user_guide/jetson.md
  qa/L0_backend_fastertransformer/test.sh
  qa/L0_http_fuzz/test.sh
  qa/common/util.sh
Labels: PR: ci

#7340 test: Fix the test to expect updated error messages
  qa/L0_model_config/noautofill_platform/missing_datatype/config.pbtxt
  qa/L0_model_config/noautofill_platform/missing_datatype/expected
  qa/L0_model_config/noautofill_platform/missing_datatype/expected_ensemble
  qa/L0_model_config/noautofill_platform/reshape_elementcount0/expected
  qa/L0_model_config/noautofill_platform/reshape_elementcount1/expected
  qa/L0_model_config/noautofill_platform/reshape_elementcount2/expected
  qa/L0_model_config/noautofill_platform/reshape_elementcount3/expected
  qa/L0_model_config/noautofill_platform/reshape_nobatch_empty0/expected
  qa/L0_model_config/noautofill_platform/reshape_nobatch_empty1/expected
  qa/L0_model_config/noautofill_platform/reshape_nobatch_variable0/expected
  qa/L0_model_config/noautofill_platform/reshape_nobatch_variable1/expected
  qa/L0_model_config/noautofill_platform/reshape_nobatch_variable2/expected
  qa/L0_model_config/noautofill_platform/reshape_nobatch_variable3/expected
  qa/L0_model_config/noautofill_platform/reshape_nobatch_variable4/expected
  qa/L0_model_config/noautofill_platform/reshape_nobatch_variable5/expected
  qa/L0_model_config/noautofill_platform/reshape_nobatch_zerodims0/expected
  qa/L0_model_config/noautofill_platform/reshape_nobatch_zerodims1/expected
  qa/L0_model_config/noautofill_platform/reshape_variable0/expected
  qa/L0_model_config/noautofill_platform/reshape_variable1/expected
  qa/L0_model_config/noautofill_platform/reshape_variable2/expected
  qa/L0_model_config/noautofill_platform/reshape_variable3/expected
  qa/L0_model_config/noautofill_platform/reshape_variable4/expected
  qa/L0_model_config/noautofill_platform/reshape_variable5/expected
  qa/L0_model_config/noautofill_platform/reshape_zerodims0/expected
  qa/L0_model_config/noautofill_platform/reshape_zerodims1/expected
  qa/L0_model_config/noautofill_platform/zerodims_input0/expected
  qa/L0_model_config/noautofill_platform/zerodims_input1/expected
  qa/L0_model_config/noautofill_platform/zerodims_output0/expected
  qa/L0_model_config/noautofill_platform/zerodims_output1/expected
  qa/L0_model_config/test.sh
Labels: PR: test

#7338 test: Python models filtering outputs based on requested outputs
  qa/L0_backend_python/io/io_test.py
  qa/L0_backend_python/io/test.sh
Labels: PR: test

#7341 revert: "Change TensorRT-LLM (#7143)"
  build.py
Labels: PR: build, PR: ci

#7331 fix: Fix version for setuptools and grpcio-tools. Remove cudnn 8 installation
  build.py
Labels: PR: ci, PR: fix

#7329 ci: Add INT64 Datatype Support for Shape Tensors in TensorRT Backend
  qa/L0_model_config/test.sh
  qa/L0_perf_analyzer/test.sh
  qa/L0_perf_analyzer_capi/test.sh
  qa/L0_trt_shape_tensors/test.sh
  qa/L0_trt_shape_tensors/trt_shape_tensor_test.py
  qa/common/gen_common.py
  qa/common/gen_qa_dyna_sequence_models.py
  qa/common/gen_qa_identity_models.py
  qa/common/gen_qa_sequence_models.py
  qa/common/infer_util.py
  qa/common/sequence_util.py
Labels: module: backends, PR: ci
