Repository triton-inference-server/server, pull requests merged in 2024-07, with the labels that each got.

#7372 test: Add input byte size tests using C APIs
  Dockerfile.QA
  qa/L0_input_validation/test.sh
Labels: PR: test

#7390 [refactor]: Refactor Frontend Trace OpenTelemetry Implementation
  src/tracer.cc
  src/tracer.h
Labels: module: server, PR: refactor

#7409 [fix]: grpc state cleanup fix
  qa/L0_grpc_state_cleanup/cleanup_test.py
Labels: PR: fix, PR: test

#7405 [build]: vllm version update
  build.py
Labels: PR: build

#7403 [feat]:Custom Backend Tracing
  docs/user_guide/trace.md
  qa/L0_trace/opentelemetry_unittest.py
  qa/L0_trace/test.sh
  src/tracer.cc
  src/tracer.h
Labels: enhancement, module: backends, module: server, PR: feat

#7342 test: Remove AWS bucket on test failure
  qa/L0_backend_python/env/test.sh
Labels: PR: test

#7432 fix: Fix error message for L0_trt_compat
  qa/L0_trt_compat/test.sh
Labels: PR: ci, PR: fix

#7392 feat: Support for request id field in generate API
  docs/protocol/extension_generate.md
  qa/L0_http/generate_endpoint_test.py
  qa/L0_http/test.sh
  src/http_server.cc
Labels: PR: feat

#7404 perf: Improve response throughput of a single gRPC stream
  src/grpc/infer_handler.h
  src/grpc/stream_infer_handler.cc
  src/grpc/stream_infer_handler.h
Labels: PR: perf

#7423 test: Tests for Metrics API enhancement to include error counters
  docs/user_guide/metrics.md
  qa/L0_backend_python/lifecycle/lifecycle_test.py
  qa/L0_model_queue/model_queue_test.py
  qa/L0_request_cancellation/scheduler_test.py
Labels: PR: docs, PR: test

#7441 fix: Downgrade ompi version to v4.1.5rc2
  build.py
Labels: PR: build, PR: fix

#7453 [build]: Bumping vllm version to v0.5.3.post1
  build.py
Labels: PR: build

#7444 ci: Fix shape and reformat free tensor handling in the input byte size check
  docs/user_guide/model_configuration.md
  qa/L0_input_validation/input_validation_test.py
  qa/L0_input_validation/test.sh
  qa/L0_model_config/autofill_noplatform/tensorrt/bad_input_non_linear_format_io/config.pbtxt
  qa/L0_model_config/autofill_noplatform/tensorrt/bad_input_non_linear_format_io/expected
  qa/L0_model_config/autofill_noplatform/tensorrt/bad_outut_non_linear_format_io/config.pbtxt
  qa/L0_model_config/autofill_noplatform/tensorrt/bad_outut_non_linear_format_io/expected
  qa/L0_model_config/autofill_noplatform_success/tensorrt/no_config_non_linear_format_io/expected
  qa/L0_model_config/test.sh
  qa/L0_trt_reformat_free/test.sh
  qa/L0_trt_reformat_free/trt_reformat_free_test.py
Labels: PR: ci

#7476 test: Refactor cpu metrics tests to make L0_metrics more stable
  qa/L0_metrics/cpu_metrics_test.py
  qa/L0_metrics/metrics_config_test.py
  qa/L0_metrics/metrics_queue_size_test.py
  qa/L0_metrics/pinned_memory_metrics_test.py
  qa/L0_metrics/test.sh
Labels: PR: test

#7483 test: Add BF16 test for python backend
  qa/L0_backend_python/python_test.py
  qa/L0_backend_python/test.sh
  qa/python_models/identity_bf16/config.pbtxt
  qa/python_models/identity_bf16/model.py
Labels: PR: test

#7486 test: Improve L0_logging stability
  qa/L0_logging/log_format_test.py
  qa/L0_logging/test.sh
Labels: PR: test

#7485 ci: Return custom exit code to indicate known shm leak failure in L0_backend_python bls test
  qa/L0_backend_python/argument_validation/test.sh
  qa/L0_backend_python/bls/test.sh
  qa/L0_backend_python/custom_metrics/test.sh
  qa/L0_backend_python/request_rescheduling/test.sh
  qa/L0_backend_python/setup_python_enviroment.sh
  qa/L0_backend_python/test.sh
  qa/L0_backend_python/test_infer_shm_leak.py
  qa/L0_dlpack_multi_gpu/test.sh
  qa/L0_warmup/test.sh
  qa/common/shm_util.py
Labels: PR: ci, PR: test
