Repository triton-inference-server/server, pull requests merged in 2024-10, with the labels that each got.

#7674 ci: Reducing flakiness of `L0_python_api`
  qa/L0_python_api/test_kserve.py
Labels: PR: ci

#7671 fix: `tritonfrontend` gRPC Streaming Segmentation Fault
  docs/customization_guide/tritonfrontend.md
  qa/L0_python_api/test_kserve.py
  qa/L0_python_api/testing_utils.py
  src/grpc/stream_infer_handler.cc
  src/http_server.cc
Labels: bug

#7684 test: Enhance Python gRPC streaming test to send multiple requests
  qa/L0_python_api/testing_utils.py
Labels: PR: test

#7682 fix: Support sampling parameters of type List for vLLM backend (stop words)
  python/openai/openai_frontend/engine/utils/triton.py
  python/openai/openai_frontend/schemas/openai.py
  python/openai/tests/test_chat_completions.py
  python/openai/tests/test_openai_client.py
Labels: PR: fix, PR: test

#7683 refactor: Removing `Server` subclass from `tritonfrontend`
  docs/customization_guide/tritonfrontend.md
  qa/L0_python_api/test_kserve.py
  qa/L0_python_api/testing_utils.py
  src/python/examples/example.py
  src/python/tritonfrontend/_api/_kservegrpc.py
  src/python/tritonfrontend/_api/_kservehttp.py
Labels: PR: refactor

#7681 build: Adding `tritonfrontend` to `build.py`
  build.py
Labels: PR: build

#7561 feat: OpenAI Compatible Frontend
  .gitignore
  .pre-commit-config.yaml
  python/openai/README.md
  python/openai/openai_frontend/__init__.py
  python/openai/openai_frontend/engine/__init__.py
  python/openai/openai_frontend/engine/engine.py
  python/openai/openai_frontend/engine/triton_engine.py
  python/openai/openai_frontend/engine/utils/__init__.py
  python/openai/openai_frontend/engine/utils/tokenizer.py
  python/openai/openai_frontend/engine/utils/triton.py
  python/openai/openai_frontend/frontend/__init__.py
  python/openai/openai_frontend/frontend/fastapi/__init__py
  python/openai/openai_frontend/frontend/fastapi/routers/__init__.py
  python/openai/openai_frontend/frontend/fastapi/routers/chat.py
  python/openai/openai_frontend/frontend/fastapi/routers/completions.py
  python/openai/openai_frontend/frontend/fastapi/routers/models.py
  python/openai/openai_frontend/frontend/fastapi/routers/observability.py
  python/openai/openai_frontend/frontend/fastapi_frontend.py
  python/openai/openai_frontend/frontend/frontend.py
  python/openai/openai_frontend/main.py
  python/openai/openai_frontend/schemas/__init__.py
  python/openai/openai_frontend/schemas/openai.py
  python/openai/requirements-test.txt
  python/openai/requirements.txt
  python/openai/tests/__init__.py
  python/openai/tests/conftest.py
  python/openai/tests/test_chat_completions.py
  python/openai/tests/test_completions.py
  python/openai/tests/test_models/identity_py/1/model.py
  python/openai/tests/test_models/identity_py/config.pbtxt
  python/openai/tests/test_models/mock_llm/1/model.py
  python/openai/tests/test_models/mock_llm/config.pbtxt
  python/openai/tests/test_observability.py
  python/openai/tests/test_openai_client.py
  python/openai/tests/utils.py
  python/openai/tests/vllm_models/llama-3.1-8b-instruct/1/model.json
  python/openai/tests/vllm_models/llama-3.1-8b-instruct/config.pbtxt
  qa/L0_openai/test.sh
  tools/add_copyright.py
Labels: PR: feat, PR: test

#7695 docs: Add beta note to OpenAI compatible API
  python/openai/README.md
Labels: PR: docs

#7700 fix: Fix bug when targeting the TRT-LLM backend ensemble
  python/openai/openai_frontend/engine/triton_engine.py
Labels: PR: fix

#7701 test: Allow ensemble to create the final response even if some of the outputs are not created
  qa/L0_simple_ensemble/ensemble_test.py
  qa/L0_simple_ensemble/models/ensemble_partial_add_sub/config.pbtxt
  qa/L0_simple_ensemble/models/partial_add_sub/1/model.py
  qa/L0_simple_ensemble/models/partial_add_sub/config.pbtxt
  qa/L0_simple_ensemble/test.sh
Labels: PR: test

#7704 test: Update server repo for some tests
  Dockerfile.sdk
  qa/L0_java_memory_growth/test.sh
  qa/L0_java_resnet/test.sh
  qa/L0_java_sequence_batcher/test.sh
  qa/L0_java_simple_example/test.sh
  qa/L0_pytorch_python_runtime/test.sh
Labels: PR: test

#7711 docs: Clarify meanings of ensemble key and value
  docs/user_guide/architecture.md
Labels: PR: docs

#7709 fix: Fix L0_perf_nomodel shared memory
  qa/L0_perf_nomodel/run_test.sh
  qa/L0_perf_nomodel/test.sh
Labels: PR: fix

#7605 build: `tritonfrontend` support for no/partial endpoint builds
  src/CMakeLists.txt
  src/grpc/CMakeLists.txt
  src/python/CMakeLists.txt
  src/python/tritonfrontend/CMakeLists.txt
  src/python/tritonfrontend/__init__.py
  src/python/tritonfrontend/_api/__init__.py
  src/python/tritonfrontend/_api/_error_mapping.py
  src/python/tritonfrontend/_c/tritonfrontend_pybind.cc
Labels: PR: feat

#7720 refactor: moving `tritonfrontend` to `@handle_triton_error` decorator
  src/python/tritonfrontend/_api/_error_mapping.py
  src/python/tritonfrontend/_api/_kservegrpc.py
  src/python/tritonfrontend/_api/_kservehttp.py
  src/python/tritonfrontend/_api/_metrics.py
Labels: PR: refactor

#7707 test: Add L0_additional_dependency_dirs
  docs/customization_guide/deploy.md
  qa/L0_additional_dependency_dirs/test.sh
Labels: PR: test

#7735 test: Add small delay to L0_lifecycle test_load_new_model_version after each model reload
  qa/L0_lifecycle/lifecycle_test.py
Labels: PR: test

#7744 build: RHEL8 Python Backend
  build.py
Labels: PR: build

#7751 refactor: Include job id and nightly tag to results uploaded
  qa/common/reporter.py
Labels: PR: refactor
