Repository triton-inference-server/server, pull requests merged in 2025-01, with the labels that each got.

#7904 ci: Fix L0_infer--base
  LICENSE
  qa/common/gen_common.py
  qa/common/gen_qa_dyna_sequence_models.py
  qa/common/gen_qa_identity_models.py
  qa/common/gen_qa_model_repository
  qa/common/gen_qa_models.py
  qa/common/gen_qa_reshape_models.py
  qa/common/gen_qa_sequence_models.py
Labels: PR: ci

#7923 Fixing typo in script
  qa/common/gen_qa_custom_ops
Labels: PR: ci, models: fix

#7919 test: Validate request correlation ID data type
  qa/L0_sequence_corrid_batcher/sequence_corrid_batcher_test.py
  qa/L0_sequence_corrid_batcher/test.sh
Labels: PR: test

#7924 build: Extend TRT Plugin Handling to Support Windows
  qa/common/gen_qa_trt_plugin_models.py
Labels: PR: build

#7934 Install python build package inside Winbase build container
  build.py
Labels: PR: build

#7933 ci: Fix L0_lifecycle server shutdown
  qa/L0_lifecycle/test.sh
Labels: PR: ci

#7957 ci: Fix/Improve L0_openai_trtllm test (#7948)
  qa/L0_openai/test.sh
Labels: cherry-pick

#7959 build: Downgrade patchelf version from 0.18.0 to 0.17.2
  build.py
  docs/user_guide/jetson.md
Labels: PR: build

#7960 docs: Remove unused build documentation
  docs/customization_guide/build.md
Labels: PR: docs

#7961 build: Fix bad pip installations in container build
  build.py
Labels: PR: build

#7964 test: Add Python backend response parameters test
  qa/L0_backend_python/parameters/response_parameters_test.py
  qa/L0_backend_python/parameters/test.sh
  qa/L0_backend_python/test.sh
  qa/python_models/response_parameters/config.pbtxt
  qa/python_models/response_parameters/model.py
  qa/python_models/response_parameters_decoupled/config.pbtxt
  qa/python_models/response_parameters_decoupled/model.py
Labels: PR: test

#7977 Update README.md
  README.md
Labels: PR: docs

#7962 test: Add a test for session config in onnxruntime backend
  qa/L0_onnx_optimization/test.sh
Labels: PR: test
