Repository triton-inference-server/server, pull requests merged in 2025-02, with the labels that each got.

#7970 build: Dockerfiles generated by build.py for RHEL require base image specification
  build.py
Labels: PR: build

#7987 test: Add tests for response parameters support for BLS in Python backend
  qa/L0_backend_python/parameters/response_parameters_test.py
  qa/L0_backend_python/parameters/test.sh
  qa/python_models/response_parameters_bls/config.pbtxt
  qa/python_models/response_parameters_bls/model.py
Labels: PR: test

#7949 ci: Temporary disable KServe Python tests that may fail
  qa/L0_python_api/test.sh
  qa/L0_python_api/test_kserve.py
Labels: PR: ci

#8010 build: Fix '--no-container-build' option for 'build.py' (#8000)
  src/python/tritonfrontend/CMakeLists.txt
Labels: cherry-pick

#7978 [build] Bumping vllm version to 0.7.0
  build.py
  python/openai/requirements.txt
Labels: build

#8024 Cherry-picks for 25.02
  build.py
Labels: PR: ci, cherry-pick

#8031 docs: Fix Triton release_notes.md
  docs/introduction/compatibility.md
  docs/introduction/release_notes.md
Labels: PR: docs

#7993 fix: `build-secret` flag not being set breaking `build.py`
  build.py
Labels: build
